.custom-footer {
    background-color: #3e4552;
    color: aliceblue;
    text-align: center;
}

.custom-copyright {
    background-color: #323741;
    font-size: 0.8rem;
    font-style: italic;
}

.table-responsive {
    max-height: 27rem;
}

.custom-loading {
    position: absolute;
    top: auto;
    bottom: 50%;
    left: auto;
    right: 45%;
}

.custom-icon-footer {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;
}

.custom-required {
    color: brown;
}